.FAQPage {
  .FAQSection {
    padding: 0;
    margin-top: clamp(2.75rem, calc(0.583rem + 4.514vw), 6rem);
    /* min: 44px, max: 96px */ /* viewPort: 768-1920 */
    @media (max-width: 768px) {
      margin-top: clamp(1.5rem, calc(0.307rem + 5.089vw), 2.75rem); 
      /* min: 24px, max: 44px */ /* viewPort: 375-768 */
    }
  }
  .ContactForm {
    margin: clamp(7.75rem, calc(4.583rem + 6.597vw), 12.5rem) 0;

    /* min: 124px, max: 200px */
    /* viewPort: 768-1920 */
    @media (max-width: 768px) {
      margin: clamp(6rem, calc(4.33rem + 7.125vw), 7.75rem) 0;
      /* min: 96px, max: 124px */
      /* viewPort: 375-768 */
    }
  }
}
