.About {
  min-height: 100svh;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .About__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
    gap: 1rem 1.25rem;

    .About__abovetxt {
      display: flex;
      grid-column: 2 / 6;

      font-family: var(--font-family);
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 90%;
      letter-spacing: -0.04em;
      opacity: 0.5;

      @media (width <= 1024px) {
        font-size: 1rem;
      }

      @media (width <= 1024px) {
        font-size: 0.875rem;
      }
    }

    .About__text_body {
      grid-column: 2 / 6;
      grid-row: 2 / -1;

      font-family: var(--font-family);
      font-weight: 400;
      font-size: 2rem;
      line-height: 136%;
      letter-spacing: -0.04em;
      color: #000;
    }
  }

  @media (width <= 1024px) {
    min-height: auto;
    padding: 0 1rem;

    .About__wrapper {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem 0.5rem;

      .About__abovetxt {
        grid-column: 1 / -1;
        font-size: 1rem;
      }

      .About__text_body {
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        font-size: 1rem;
      }
    }
  }

  @media (width <= 540px) {
    padding: 0 0.5rem;

    .About__wrapper {
      gap: 0.5rem;

      .About__abovetxt {
        font-size: 0.875rem;
      }

      .About__text_body {
        .Description {
          .Description__txt {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}
