@starting-style {
  .Popup.MWImage {
    &::before {
      background: rgb(0, 0, 0, 0);
    }
  }
}

.Popup.MWImage {
  &::before {
    background: rgb(0, 0, 0, 0.8);
    transition: 150ms ease-out;
    opacity: 1;
  }

  &.isRemove .Popup_container {
    opacity: 0;
  }
}

.MWImage {
  --size: clamp(2.75rem, calc(1.321rem + 2.976vw), 4rem);
  /* min: 44px, max: 64px */
  /* viewPort: 768-1440 */
  --pdY: clamp(1.5rem, calc(1.071rem + 0.893vw), 1.875rem);
  /* min: 24px, max: 30px */
  /* viewPort: 768-1440 */
  --pdX: clamp(1rem, calc(-0.714rem + 3.571vw), 2.5rem);
  /* min: 16px, max: 40px */
  /* viewPort: 768-1440 */

  .Popup_container {
    flex-direction: column;
    cursor: pointer;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
  }

  .MWImage-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: var(--pdY) var(--pdX);
    position: fixed;
    top: 0;
    z-index: 99;
    .MWImage-close {
      display: flex;
      justify-content: center;
      align-items: center;

      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      background: #fff;
      cursor: pointer;

      svg {
        width: 54.6%;
        height: 54.6%;
        transform: rotate(90deg);
      }
    }
  }

  .MWImage-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
    width: 100vw;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      user-select: none;
      -webkit-user-select: none;
      &.fade-in {
        opacity: 0;
        transition: opacity 150ms ease-in;
      }

      &.fade-in.loaded {
        opacity: 1;
      }
    }

    @media (max-width: 1440px) {
      /* height: 62.5vh; */
    }
    @media (max-width: 768px) {
      width: 100vw;
      /* height: 42.188vh; */
    }
  }

  .MWImage-close,
  .MWImage-prev,
  .MWImage-next {
    transition: opacity 0.3s ease-out;
    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }
    &:active,
    &:focus-visible {
      opacity: 0.5;
    }
  }
  @media (max-width: 768px) {
    --pdX: clamp(0.5rem, calc(0.023rem + 2.036vw), 1rem);
    /* min: 8px, max: 16px */
    /* viewPort: 375-768 */
  }
}

.btn-controller {
  display: flex;
  align-items: center;
  position: absolute;
  pointer-events: auto;
  z-index: 999;
  height: 100%;
  pointer-events: all;
  width: 14vw;

  &.MWImage-prev {
    left: 0;
    padding-left: var(--pdX);

    svg {
      transform: rotate(180deg);
    }
  }
  &.MWImage-next {
    right: 0;
    justify-content: flex-end;
    padding-right: var(--pdX);
  }
  button {
    width: 64px;
    height: 64px;
    background: #ffffff;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;

    svg {
      width: 32px;
      height: 32px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.MWImage_swiper {
  position: absolute;
  max-width: 100vw;
  bottom: clamp(2.5rem, calc(2.333rem + 0.347vw), 2.75rem);
  /* min: 40px, max: 44px */ /* viewPort: 768-1920 */
  margin-inline: var(--px);
  .MWImage_swiper-item {
    width: 64px !important;
    height: 64px !important;
    filter: brightness(0.5);
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    &:active,
    &:focus {
      cursor: grabbing;
    }
    &.active {
      filter: brightness(1);
    }
  }
}
