.User {
  width: 325px;

  .User_name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(1.5rem, calc(1.136rem + 1.553vw), 3rem);
    /* min: 24px, max: 48px */
    line-height: 110%;
    letter-spacing: -0.04em;
    color: #000;
  
  }

  .User_description {
    width: 90%;
    text-wrap: wrap;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(1rem, calc(0.879rem + 0.518vw), 1.5rem);
    /* min: 16px, max: 24px */
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #000;
    opacity: 0.5;
  }
}
