.Contacts {
  padding-inline: var(--px);
  min-height: 100dvh;
  display: grid;
  align-items: center;

  .Contacts__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    @media (width <= 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
    }
  }

  @media (width <= 1024px) {
    min-height: auto;
    padding-top: 124px;
  }

  @media (width <= 540px) {
    padding-top: 64px;
  }

  .Contacts__col {
    @media (width > 1024px) {
      &:first-of-type {
        grid-column-start: 3;
      }
      &:nth-of-type(2) {
        grid-column-start: 4;
      }
      &:last-of-type {
        grid-column-start: 6;
      }
    }

    p {
      font-family: var(--font-family);
      font-weight: 500;
      line-height: 90%;
      letter-spacing: -0.04em;
      opacity: 0.5;
    }
  }

  .Contacts__list {
    list-style: none;
    margin-top: 16px;
    display: grid;
    gap: 12px;

    .Contacts__list-item {
      span {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 32px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
      }

      .Contacts__list-button {
        padding: 20px 12px;
        border-radius: 100px;
        font-family: var(--font-family);
        font-size: 18px;
        line-height: 90%;
        letter-spacing: -0.04em;
        cursor: pointer;
        backdrop-filter: blur(7px);
        background: #000;
        margin-top: 64px;
        color: #fff;
        transition: 0.3s ease-out;

        @media (hover: hover) {
          &:hover {
            background: rgba(0, 0, 0, 0.5);
          }
        }

        a {
          text-decoration: none;
        }

        @media (width <= 1024px) {
          font-size: 16px;
        }
      }
    }

    .Contacts__list-btn {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 32px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #000;
    }
  }
}
