.Contacts {
  padding-inline: 1.25rem;
  min-height: 100svh;
  display: grid;
  align-items: center;

  .Contacts__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.25rem;

    @media (width <= 1024px) {
      grid-template-columns: 1fr 1fr;
      gap: 4rem 0.5rem;
    }

    @media (width <= 540px) {
      grid-template-columns: 1fr;
      gap: 2.75rem;

      .Contacts__col:last-child {
        margin-top: 1.25rem;
      }
    }
  }

  @media (width <= 1024px) {
    min-height: auto;
    padding: 0 1rem;
    padding-bottom: 8.875rem;
  }

  @media (width <= 540px) {
    padding: 0 0.5rem;
    padding-bottom: 8rem;
  }

  .Contacts__col {
    @media (width > 1024px) {
      &:first-of-type {
        grid-column-start: 3;
      }
      &:nth-of-type(2) {
        grid-column-start: 4;
      }
      &:last-of-type {
        grid-column-start: 6;
      }
    }

    p {
      font-family: var(--font-family);
      font-weight: 500;
      line-height: 90%;
      letter-spacing: -0.04em;
      opacity: 0.5;
    }
  }

  .Contacts__list {
    list-style: none;
    margin-top: 1rem;
    display: grid;
    gap: 0.75rem;

    .Contacts__list-item {
      span {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 2rem;
        letter-spacing: -0.02em;
        text-transform: uppercase;
      }

      .Contacts__list-button {
        padding: 20px 12px;
        border-radius: 100px;
        font-family: var(--font-family);
        font-size: 1.125rem;
        line-height: 90%;
        letter-spacing: -0.04em;
        cursor: pointer;
        backdrop-filter: blur(7px);
        background: #000;
        margin-top: 4rem;
        color: #fff;
        transition: 0.3s ease-out;

        @media (hover: hover) {
          &:hover {
            background: rgba(0, 0, 0, 0.5);
          }
        }

        a {
          text-decoration: none;
        }

        @media (width <= 1024px) {
          font-size: 1rem;
        }
      }
    }

    .Contacts__list-btn {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 2rem;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #000;
    }
  }
}
