.ServiceCategoryPage,
.InteractiveExhibit {
  .TitlePage {
    font-size: clamp(4rem, calc(2.667rem + 2.778vw), 6rem);
    /* min: 64px, max: 96px */ /* viewPort: 768-1920 */
    @media (max-width: 768px) {
      font-size: clamp(2.75rem, calc(1.438rem + 5.598vw), 4.125rem);
      /* min: 44px, max: 66px */ /* viewPort: 375-768 */
    }
  }
}
.ServiceCategories {
  max-width: 100%;
}
.Services {
  .Services_container {
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
      margin-bottom: clamp(6rem, calc(4.33rem + 7.125vw), 7.75rem);
      /* min: 96px, max: 124px */
      /* viewPort: 375-768 */
    }
  }
  .ContactForm {
    margin-top: clamp(7.75rem, calc(4.583rem + 6.597vw), 12.5rem);

    /* min: 124px, max: 200px */
    /* viewPort: 768-1920 */
    @media (max-width: 768px) {
      margin-top: clamp(6rem, calc(4.33rem + 7.125vw), 7.75rem);
      /* min: 96px, max: 124px */
      /* viewPort: 375-768 */
    }
  }
}

.ItemService {
  padding: clamp(4rem, calc(2.5rem + 3.125vw), 6.25rem) 0;
  /* min: 64px, max: 100px */
  /* viewPort: 768-1920 */
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  &:first-child {
    border-top: 1px solid rgb(0, 0, 0, 0.1);
  }
  .ItemService_index {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(1.25rem, calc(1.083rem + 0.347vw), 1.5rem);
    /* min: 20px, max: 24px */
    /* viewPort: 768-1920 */

    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000;
    opacity: 0.5;
    margin-bottom: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem);
    /* min: 16px, max: 24px */
    /* viewPort: 375-768 */
    @media (max-width: 768px) {
      font-size: clamp(0.875rem, calc(0.517rem + 1.527vw), 1.25rem);
      /* min: 14px, max: 20px */
      /* viewPort: 375-768 */
    }
  }
  .ItemService_inner {
    display: flex;
    justify-content: space-between;

    gap: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem);
    /* min: 16px, max: 24px */
    /* viewPort: 375-768 */
    .ItemService-title {
      width: clamp(23.25rem, calc(8.583rem + 30.556vw), 45.25rem);
      /* min: 372px, max: 724px */
      /* viewPort: 768-1920 */
      font-family: var(--font-family);
      font-weight: 400;
      font-size: clamp(3rem, calc(1rem + 4.167vw), 6rem);
      /* min: 48px, max: 96px */
      /* viewPort: 768-1920 */
      line-height: 110%;
      letter-spacing: -0.04em;
      color: #000;

      @media (max-width: 768px) {
        font-size: clamp(2rem, calc(1.046rem + 4.071vw), 3rem);
        /* min: 32px, max: 48px */
        /* viewPort: 375-768 */
        width: clamp(22.438rem, calc(21.662rem + 3.308vw), 23.25rem);
        /* min: 359px, max: 372px */
        /* viewPort: 375-768 */
      }
    }
    .ItemService_container {
      --w: clamp(43.75rem, calc(42.75rem + 2.083vw), 45.25rem);
      /* min: 700px, max: 724px */
      /* viewPort: 768-1920 */
      width: min(var(--w), 100%);
      .ItemService_desc {
        width: 100%;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp(1.5rem, calc(1.167rem + 0.694vw), 2rem);
        /* min: 24px, max: 32px */
        /* viewPort: 768-1920 */
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #000;
        opacity: 0.5;
        &::first-letter {
          text-transform: uppercase;
        }
        margin-bottom: clamp(4rem, calc(2.667rem + 2.778vw), 6rem);
        .ButtonArrow .Button {
          text-wrap: nowrap;
        }
        /* min: 64px, max: 96px */
        /* viewPort: 768-1920 */
        @media (max-width: 768px) {
          font-size: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem);
          /* min: 16px, max: 24px */
          /* viewPort: 375-768 */

          margin-bottom: clamp(2.75rem, calc(1.557rem + 5.089vw), 4rem);
          /* min: 44px, max: 64px */
          /* viewPort: 375-768 */
        }
      }

      .ButtonArrow.ItemService_btn {
        padding: 0;
        --offset: clamp(0.25rem, calc(0.083rem + 0.347vw), 0.5rem);
        /* min: 4px, max: 8px */
        /* viewPort: 768-1920 */

        gap: clamp(0.5rem, calc(0.023rem + 2.036vw), 1rem);
        /* min: 8px, max: 16px */
        /* viewPort: 375-768 */

        & > .ButtonArrow-icon {
          --size: clamp(1.125rem, calc(0.29rem + 3.562vw), 2rem);
          /* min: 18px, max: 32px */
          /* viewPort: 375-768 */
          width: var(--size);
          height: var(--size);
          margin-top: calc(var(--offset) / 2) !important;
        }

        .Button {
          &::first-letter {
            text-transform: uppercase;
          }
          font-family: var(--font-family);
          font-weight: 400;
          font-size: clamp(2rem, calc(1.833rem + 0.347vw), 2.25rem);
          /* min: 32px, max: 36px */
          /* viewPort: 768-1920 */
          padding-bottom: var(--offset);

          line-height: 110%;
          letter-spacing: -0.04em;

          text-align: center;
          color: #000;

          @media (max-width: 768px) {
            font-size: clamp(1.25rem, calc(0.534rem + 3.053vw), 2rem);
            /* min: 20px, max: 32px */
            /* viewPort: 375-768 */
          }
        }
      }
    }

    @media (max-width: 1440px) {
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 768px) {
    padding-bottom: clamp(2.75rem, calc(1.557rem + 5.089vw), 4rem);
    /* min: 44px, max: 64px */
    /* viewPort: 375-768 */
  }
}
