.Legend {
  --count-slides: 1; /* Задаётся в коде */
  height: calc(100vh * var(--count-slides));
  position: relative;

  @media (width <= 1024px) {
    height: fit-content;
    gap: 7.75rem;
    display: flex;
    flex-direction: column;
  }

  @media (width <= 576px) {
    gap: 4rem;
  }

  .Legend__swiper {
    width: 100%;
    height: 100dvh;
    position: sticky;
    top: 0;

    @media (width <= 1024px) {
      display: none;
    }

    .swiper-pagination {
      right: 0;
      left: 2.5rem;
      display: flex;
      flex-direction: column;
      width: fit-content;

      span {
        margin: 0.125rem 0;
        padding: 1.125rem;
        width: max-content;
        height: auto;
        border-radius: 1rem;
        color: #fff;
        opacity: 1;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 90%;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        backdrop-filter: blur(50px);
        background: rgba(37, 37, 37, 0.55);
        transition: 0.3s ease-out;

        @media (hover: hover) {
          &:hover {
            opacity: 0.5;
          }
        }

        &.swiper-pagination-bullet-active {
          background: #fff;
          color: #000;
        }
      }
    }

    .Legend__swiper-slide {
      position: relative;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: center;
      gap: 1.25rem;
      z-index: 1;
      padding-inline: 2.5rem;
    }

    .Legend__swiper-image {
      position: absolute;
      inset: 0;
      z-index: -1;
    }

    .Legend__swiper-desc {
      grid-column-start: 6;
      background: #fff;
      padding: 1rem;
      font-family: var(--font-family);
    }

    .Legend__swiper-title {
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 90%;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #000;
      margin-bottom: 2.75rem;
    }

    .Legend__swiper-list {
      list-style: none;
      display: grid;
      gap: 1.5rem;
    }

    .Legend__swiper-item {
      display: grid;
      gap: 0.375rem;

      span {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 90%;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #000;
        opacity: 0.5;
      }

      p {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 90%;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #000;
      }
    }

    .Legend__swiper-txt {
      font-size: 1.125rem;
      line-height: 136%;
      letter-spacing: -0.04em;
      color: #282828;
      margin-top: 4rem;
    }
  }

  .Legend__content {
    display: none;
    gap: 1rem;

    @media (width <= 1024px) {
      display: flex;
      flex-direction: column;
    }

    .Legend__content-title {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 2rem;
      line-height: 90%;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      padding-inline: 1rem;

      @media (width <= 576px) {
        font-size: 1.5rem;
        padding-inline: 0.5rem;
      }
    }

    .Legend__content-image {
      aspect-ratio: 16/9;
    }

    .Legend__content-desc {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(17.1875rem, 1fr));
      gap: 1.25rem;
      padding-inline: 1rem;
      align-items: flex-start;

      @media (width <= 576px) {
        padding-inline: 0.5rem;
      }
    }

    .Legend__content-list {
      display: grid;
      gap: 1rem;
      list-style: none;

      @media (width <= 576px) {
        display: flex;
        gap: 3rem;
        overflow: hidden;
        overflow-x: auto;

        &::-webkit-scrollbar {
          height: 0;
        }
      }
    }

    .Legend__content-item {
      font-family: var(--font-family);
      display: grid;
      gap: 0.375rem;

      @media (width <= 576px) {
        flex-shrink: 0;
      }

      span {
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 90%;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #000;
        opacity: 0.5;
      }

      p {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 90%;
        letter-spacing: -0.04em;
        text-transform: uppercase;
      }
    }

    .Legend__content-txt {
      font-family: var(--font-family);
      line-height: 136%;
      letter-spacing: -0.04em;
    }
  }
}

@media print {
  .Legend {
    .Legend__swiper {
      position: relative;

      .Legend__swiper-slide {
        height: 100vh;
      }

      .swiper-pagination {
        span {
          backdrop-filter: none;
        }
      }
    }
  }
}
