.FilterItem {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 32px;

  &.active {
    .wrap-anim-FilterItem-container {
      grid-template-rows: 1fr;
    }

    .FilterItem-title {
      opacity: 1;
    }
  }

  .FilterItem-title {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(2rem, calc(1.714rem + 0.595vw), 2.25rem); /* min: 32px, max: 36px */
    line-height: 110%;
    letter-spacing: -0.04em;
    color: #000;
    display: flex;
    gap: 8px;
    opacity: 0.5;
    cursor: pointer;
    text-wrap: nowrap;
    width: fit-content;

    transition: opacity 0.3s ease-out;
  }

  .wrap-anim-FilterItem-container {
    grid-column: span 3;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
    overflow: hidden;
    min-height: 0;

    .wrap-FilterItem-container {
      min-height: 0vw;

      .FilterItem-container {
        display: flex;
        gap: 16px 24px;
        align-items: center;
        margin-bottom: clamp(1rem, calc(-1.286rem + 4.762vw), 3rem); /* min: 16px, max: 48px */
        flex-wrap: wrap;

        .FilterItem-item {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: clamp(1.25rem, calc(1.007rem + 1.036vw), 2.25rem);
          /* min: 20px, max: 36px */
          line-height: 110%;
          letter-spacing: -0.04em;
          color: #000;
          cursor: pointer;
          opacity: 0.5;
          user-select: none;
          transition: opacity 0.3s ease-out;

          @media (hover: hover) {
            &:hover {
              opacity: 0.6;
            }
          }
          &.active {
            opacity: 1;
          }
        }
      }
    }
  }

  .FilterItem-item-cancel {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(1rem, calc(0.879rem + 0.518vw), 1.5rem); /* min: 16px, max: 24px */
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #000;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }

  @media (hover: hover) {
    .FilterItem-title:hover {
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    .FilterItem-title {
      font-size: clamp(1.75rem, calc(1.511rem + 1.018vw), 2rem); /* min: 28px, max: 32px */
    }
  }
}

.IconPlus {
  width: clamp(1.5rem, calc(0.929rem + 1.19vw), 2rem); /* min: 24px, max: 32px */
  height: clamp(1.5rem, calc(0.929rem + 1.19vw), 2rem); /* min: 24px, max: 32px */
}
