.ContactForm {
  padding-bottom: clamp(2.75rem, calc(1.9rem + 3.625vw), 6.25rem); /* min: 44px, max: 100px */
  .ContactForm-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(3rem, calc(1.483rem + 6.472vw), 9.25rem); /* min: 48px, max: 148px */
    line-height: 110%;
    letter-spacing: -0.04em;
    color: #000;
    margin-top: 24px;
    margin-bottom: clamp(2.75rem, calc(1.961rem + 3.366vw), 6rem); /* min: 44px, max: 96px */
  }

  .ContactForm_inner {
    width: fit-content;
  }

  .ContactForm-form {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: clamp(2.75rem, calc(1.961rem + 3.366vw), 6rem); /* min: 44px, max: 96px */
  }
  .btn-send[disabled] {
    opacity: 0.6;
    pointer-events: none;
  }
  .ButtonArrow {
    text-transform: unset;
    align-items: center;
    margin: unset;
    margin-bottom: clamp(1.5rem, calc(1.023rem + 2.036vw), 2rem);
    /* 24px @375px → 32px @768px */
    gap: clamp(0.5rem, calc(0.379rem + 0.518vw), 1rem); /* min: 8px, max: 16px */
    svg {
      --size: clamp(2rem, calc(1.818rem + 0.777vw), 2.75rem); /* min: 32px, max: 44px */
      height: var(--size);
      width: var(--size);
    }
  }
}

.ConsentCheckbox {
  width: min(652px, 100%);
  &,
  * {
    transition: all 0.3s ease-out;
  }

  &.ad {
    margin-top: clamp(1rem, calc(0.046rem + 4.071vw), 2rem);
    /* 16px @375px → 32px @768px */
  }

  & > .wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .ConsentCheckbox-error {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #ff3b30;
  }

  &.active .ConsentCheckbox_checkbox {
    background: #000;
    .ConsentCheckbox_checkbox-icon {
      opacity: 1;
      path {
        fill: #ffffff;
        stroke: #ffffff;
      }
    }
  }

  .ConsentCheckbox_checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    --size: clamp(1.5rem, calc(1.023rem + 2.036vw), 2rem);
    /* 24px @375px → 32px @768px */
    min-width: var(--size);
    min-height: var(--size);

    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #fff;
    transition: all 0.3 ease-out;
    cursor: pointer;
    .ConsentCheckbox_checkbox-icon {
      width: 80%;
      opacity: 0;
    }
  }
  .ConsentCheckbox-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 136%;
    letter-spacing: -0.02em;
    color: #000;
    opacity: 0.3;
    user-select: none;

    span {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      cursor: pointer;
      text-underline-offset: 5px;
      text-decoration-thickness: 1px;
    }
  }

  @media (max-width: 768px) {
    .ConsentCheckbox-text {
      font-size: clamp(0.875rem, calc(0.636rem + 1.018vw), 1.125rem); /* min: 14px, max: 18px */
    }
  }

  @media (max-width: 500px) {
    .ConsentCheckbox-text {
      font-weight: 400;
    }
  }
}

.Input {
  position: relative;
  width: min(724px, 100%);
  &,
  * {
    transition: all 0.3s ease-out;
  }
  .Input_wrapper {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 4px;
  }

  &.error {
    .Input-label,
    .Input-self,
    .Input-message {
      color: #ff3b30;
    }
    .Input-message {
      opacity: 1;
    }
    .Input-label {
      font-size: clamp(1.25rem, calc(1.083rem + 0.347vw), 1.5rem);
      /* min: 20px, max: 24px */
      /* viewPort: 768-1920 */
      opacity: 1;
      &::before {
        display: inline-block;
      }
    }
  }

  .Input-label {
    display: flex;
    align-items: flex-end;
    text-wrap: nowrap;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.02em;
    min-height: 30px;
    text-transform: uppercase;
    color: #000;
    cursor: text;
    opacity: 0.5;
    transition: 0.3s ease-out;
    &::before {
      content: '*';
      display: none;
    }
  }

  &:focus-within,
  &.noEmpty {
    .Input-label {
      font-size: clamp(0.563rem, calc(0.438rem + 0.26vw), 0.75rem);
      /* min: 9px, max: 12px */
      /* viewPort: 768-1920 */
      opacity: 0.5;
      transform: translateY(-12px);

      &::before {
        content: '*';
        display: none;
      }
    }
  }

  .Input-message {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #000;

    opacity: 0;
  }
  .Input-self {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(1.25rem, calc(1.189rem + 0.259vw), 1.5rem); /* min: 20px, max: 24px */
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #000;
    padding-bottom: 12px;
  }

  @media (max-width: 768px) {
    .Input-label {
      font-size: clamp(1.25rem, calc(1.011rem + 1.018vw), 1.5rem); /* min: 20px, max: 24px */
    }
  }

  @media (max-width: 500px) {
    .Input-label {
      font-weight: 400;
    }
  }
}
