html:has(main.light, main.dark) {
  font-size: 0.833vw;

  @media (max-width: 1024px) {
    font-size: 2.083vw;
  }

  @media (max-width: 540px) {
    font-size: 4.267vw;
  }
}

html:has(main.dark) {
  .PresentationHeader {
    & .PresentationHeader__item {
      .PresentationHeader__item-box {
        background: rgb(156, 156, 156, 0.1);
        color: #fff;

        svg path {
          fill: #fff;
        }
      }
      & > a {
        .PresentationHeader__item-button {
          background: rgb(156, 156, 156, 0.1);
          color: #fff;

          svg {
            path {
              fill: #fff;
            }
          }
        }
        &:last-of-type {
          .PresentationHeader__item-button {
            color: #000;
            background: #fff;
          }
        }
      }
    }
  }

  .PresentationFooter {
    .PresentationFooter__list {
      background: rgb(156, 156, 156, 0.1);
      backdrop-filter: blur(50px);
    }

    .PresentationFooter__link {
      color: #fff;

      &::before {
        background: #fff;
      }
    }
  }
}

main.dark {
  background: #202020;
  color: #fff;

  .Idea {
    & .Idea__content {
      & .Idea__content-desc {
        p {
          color: #fff;
        }
      }
    }
  }

  .Button {
    &.ghostLink,
    &.link {
      &::before {
        background-color: #fff;
      }
    }
  }

  .Contacts__list {
    .Contacts__list-item {
      .Contacts__list-button {
        background: #fff;
        color: #000;

        @media (hover: hover) {
          &:hover {
            background: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }

    .Contacts__list-btn {
      color: #fff;
    }
  }
}

main.light,
main.dark {
  @media (width > 1024px) {
    display: grid;
    gap: 1rem;
  }
}
