.Stand {
  display: grid;
  gap: 24px;

  @media (width <= 1024px) {
    gap: 16px;
    padding-top: 124px;
  }

  @media (width <= 540px) {
    padding-top: 64px;
  }

  img {
    height: 100dvh;

    @media (width <= 1024px) {
      height: auto;
      aspect-ratio: 16/9;
    }
  }
}
