.TitlePage {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(4rem, calc(1.5rem + 5.208vw), 7.75rem);
  /* min: 64px, max: 124px */
  /* viewPort: 768-1920 */
  line-height: 110%;
  letter-spacing: -0.04em;
  color: #000;
  margin-top: clamp(1.5rem, calc(1.167rem + 0.694vw), 2rem);
  /* min: 24px, max: 32px */
  /* viewPort: 768-1920 */
  margin-bottom: clamp(4rem, calc(2.667rem + 2.778vw), 6rem);

  /* min: 64px, max: 96px */
  /* viewPort: 768-1920 */
  @media (max-width: 768px) {
    margin-bottom: clamp(2.75rem, calc(1.557rem + 5.089vw), 4rem);
    /* min: 44px, max: 64px */
    /* viewPort: 375-768 */
  }
}
