.Pagination {
  width: min(1096px, 100%);
  display: flex;
  margin: 0 auto;
  justify-content: space-between;

  .Pagination_list {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: clamp(2.75rem, calc(1.917rem + 1.736vw), 4rem);
    /* min: 44px, max: 64px */ /* viewPort: 768-1920 */

    .Pagination_list-item {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: clamp(1.125rem, calc(0.767rem + 1.527vw), 1.5rem);
      /* min: 18px, max: 24px */ /* viewPort: 375-768 */
      line-height: 100%;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #000;
      cursor: pointer;
      opacity: 0.5;
      transition: 0.3s ease-out;
      @media (hover: hover) {
        &:hover {
          opacity: 1;
        }
      }
      &.active,
      &:active,
      &:focus-visible {
        opacity: 1;
      }
    }

    @media (max-width: 768px) {
      gap: clamp(2rem, calc(1.284rem + 3.053vw), 2.75rem);
      /* min: 32px, max: 44px */
      /* viewPort: 375-768 */
    }
  }

  .ButtonArrow.Pagination-arrow {
    .Button {
      padding: 0;
      @media (max-width: 768px) {
        display: none;
      }
    }
    .ButtonArrow-icon {
      margin: 0 !important;
    }
  }
}
