.Comparison {
  cursor: pointer;

  img-comparison-slider {
    width: 100%;
    height: 100%;
    display: block;
    --divider-width: 4px;

    img {
      height: 100vh;

      @media (width <= 1024px) {
        height: auto;
      }
    }

    @media (width <= 540px) {
      svg {
        width: 40px;
        height: 32px;
      }
    }
  }
}

.Comparison.Comparison--printSlide {
  cursor: default;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
