.Hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  z-index: 1;
  padding-bottom: clamp(1rem, calc(0.636rem + 1.553vw), 2.5rem); /* min: 16px, max: 40px */
  height: 100vh;
  @media (max-width: 1040px) {
    height: 100svh;
  }
  .Hero-icon path {
    transition: fill 0.4s;
    transition-delay: 0.25s;
    
  }
  &.showPreloader {
    z-index: 999;
    .Hero-icon {
      path {
        fill: #000;
      }

      transform: translateY(-25vh);
      @media (max-width: 1440px) {
        --offset: clamp(0rem, calc(-8.154rem + 17.212vw), 12.5rem); /* min: 0px, max: 200px */
        transform: translateY(calc(-80vh + var(--offset)));
      }
      @media (max-width: 760px) {
        transform: translateY(-50vh);
      }
    }
  }

  &.hidePreloader {
    .Hero-icon {
      transform: translateY(0);
    }

    .Hero-wrapper {
      transform: translateY(-100vh);
    }
  }

  .Hero-icon {
    z-index: 1;
    max-width: 100%;
    height: min-content;
    transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
  }

  .Hero-wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);

    .Preloader {
      width: 100%;
      height: 100%;
      background: #fff;
    }
    .Hero-bg {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: 0;
    }
  }
}

@keyframes moveTo {
  0% {
    transform: translateY(100vh);
  }
}
@keyframes HeroIcon {
  0% {
    transform: translateY(-25vh);
  }
}
