.AboutUs {
  transition: all 0.5s linear;

  
  .FAQSection {
    padding-bottom: 0;
    margin-bottom: clamp(7.75rem, calc(4.583rem + 6.597vw), 12.5rem);
    /* min: 124px, max: 200px */
    /* viewPort: 768-1920 */
    @media (max-width: 768px) {
      margin-bottom: clamp(6rem, calc(4.33rem + 7.125vw), 7.75rem);
      /* min: 96px, max: 124px */
      /* viewPort: 375-768 */
    }
  }
  .DocOverview {
    margin-top: clamp(7.75rem, calc(4.583rem + 6.597vw), 12.5rem);
    /* min: 124px, max: 200px */
    /* viewPort: 768-1920 */
    @media (max-width: 768px) {
      margin-top: clamp(6rem, calc(4.33rem + 7.125vw), 7.75rem) 0;
      /* min: 96px, max: 124px */
      /* viewPort: 375-768 */
    }
  }
  .AboutUs-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;

    --gap-y: clamp(2.75rem, calc(1.557rem + 5.089vw), 4rem);
    /* min: 44px, max: 64px */ /* viewPort: 375-768 */
    margin: clamp(7.75rem, calc(4.583rem + 6.597vw), 12.5rem) 0;
    /* min: 124px, max: 200px */
    /* viewPort: 768-1920 */
    gap: var(--gap-y) 20px;
    @media (max-width: 1000px) {
      display: flex;
      justify-content: space-between;
    }
    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: clamp(6rem, calc(4.33rem + 7.125vw), 7.75rem) 0;
      /* min: 96px, max: 124px */
      /* viewPort: 375-768 */
    }
  }

  .title-2 {
    margin-top: max(6rem, calc(4.833rem + 2.431vw), 7.75rem);
    /* min: 96px, max: 124px */ /* viewPort: 768-1920 */
    @media (max-width: 768px) {
      margin-top: clamp(6rem, calc(4.833rem + 2.431vw), 7.75rem);
      /* min: 96px, max: 124px */
      /* viewPort: 768-1920 */
    }
  }
  .ButtonArrow.AboutUs_companies-btn {
    padding: 0;
    margin-top: clamp(4.125rem, calc(2.833rem + 2.691vw), 6.063rem);

    /* min: 66px, max: 97px */
    /* viewPort: 768-1920 */
    @media (max-width: 768px) {
      margin-top: clamp(2.75rem, calc(1.438rem + 5.598vw), 4.125rem);
      /* min: 44px, max: 66px */
      /* viewPort: 375-768 */
    }

    .ButtonArrow-icon {
      margin-top: 4px;
      --size: clamp(2rem, calc(1.5rem + 1.042vw), 2.75rem);
      /* min: 32px, max: 44px */
      /* viewPort: 768-1920 */
      width: var(--size);
      height: var(--size);

      @media (max-width: 768px) {
        --size: clamp(1.5rem, calc(1.023rem + 2.036vw), 2rem);
        /* min: 24px, max: 32px */
        /* viewPort: 375-768 */
      }
    }

    .Button {
      padding: 0;
      font-size: clamp(1.5rem, calc(1.023rem + 2.036vw), 2rem);
      /* min: 32px, max: 24px */
      /* viewPort: 375-768 */
    }
  }
  .AboutUs_companies {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .AboutUs_iso {
    padding-top: clamp(3.875rem, calc(2.292rem + 3.299vw), 6.25rem);
    /* min: 62px, max: 100px */ /* viewPort: 768-1920 */
    @media (max-width: 768px) {
      padding-top: clamp(3rem, calc(2.165rem + 3.562vw), 3.875rem);
      /* min: 48px, max: 62px */ /* viewPort: 375-768 */
    }
    @media (min-width: 1440px) {
      .ButtonArrow.AboutUs_companies-btn.__bottom {
        display: none;
      }
    }
    @media (max-width: 1440px) {
      .ButtonArrow.AboutUs_companies-btn.__top {
        display: none;
      }
      .ButtonArrow.AboutUs_companies-btn.__bottom {
        display: flex;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .AboutUs_iso-head {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: clamp(4rem, calc(2.667rem + 2.778vw), 6rem);
      /* min: 64px, max: 96px */ /* viewPort: 768-1920 */
      @media (max-width: 768px) {
        margin-bottom: clamp(2.75rem, calc(1.557rem + 5.089vw), 4rem);
        /* min: 44px, max: 64px */ /* viewPort: 375-768 */
      }
      .TitlePage {
        margin: 0;
        width: min(clamp(27.813rem, calc(16.354rem + 23.872vw), 45rem), 100%);
        /* min: 445px, max: 720px */
        /* viewPort: 768-1920 */
      }
    }
  }
}

.TagCounter {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, calc(0.167rem + 0.694vw), 1rem);
  /* min: 8px, max: 16px */ /* viewPort: 768-1920 */
  .TagCounter-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(4rem, calc(2.667rem + 2.778vw), 6rem);
    /* min: 64px, max: 96px */ /* viewPort: 768-1920 */
    line-height: 110%;
    letter-spacing: -0.04em;
    color: #000;
    @media (max-width: 768px) {
      font-size: clamp(2.75rem, calc(1.557rem + 5.089vw), 4rem);
      /* min: 44px, max: 64px */ /* viewPort: 375-768 */
    }
  }
  .TagCounter-subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(1.125rem, calc(0.875rem + 0.521vw), 1.5rem);
    /* min: 18px, max: 24px */ /* viewPort: 768-1920 */
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000;
    @media (max-width: 768px) {
      font-size: clamp(1rem, calc(0.881rem + 0.509vw), 1.125rem);
      /* min: 16px, max: 18px */ /* viewPort: 375-768 */
    }
  }
}
