.ModeSwitcher {
  display: flex;
  align-items: center;
  gap: 40px;
  box-shadow: 0 1px 0 0 rgb(0, 0, 0, 0.1);
  height: min-content;
  padding-bottom: 1px;
  width: fit-content;
  @media (max-width: 1024px) {
    width: 100%;
  }

  .ModeSwitcher_item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    opacity: 0.5;
    padding-bottom: 16px;
    gap: 8px;
    transition: opacity .3s ease-out;

    @media (hover: hover) {
      &:hover {
        &,
        &:before {
          opacity: .6;
        }
      }
    }

    &.active {
      &,
      &:before {
        opacity: 1;
      }
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      height: 4px;
      width: 100%;
      background: #000;
      opacity: 0;
      transition: opacity .3s ease-out;
      @media (max-width: 768px) {
        height: 3px;
      }
    }
    .ModeSwitcher_item-text {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 100%;

      text-transform: uppercase;
      color: #000;
    }
    .ModeSwitcher_item-icon {
    }
  }

  @media (max-width: 768px) {
    .ModeSwitcher_item {
      padding-bottom: clamp(0.75rem, calc(0.511rem + 1.018vw), 1rem); /* min: 12px, max: 16px */
      .ModeSwitcher_item-text {
        font-size: clamp(1rem, calc(0.881rem + 0.509vw), 1.125rem); /* min: 16px, max: 18px */
      }
      .ModeSwitcher_item-icon {
        width: clamp(1.25rem, calc(1.011rem + 1.018vw), 1.5rem); /* min: 20px, max: 24px */
        height: clamp(1.25rem, calc(1.011rem + 1.018vw), 1.5rem); /* min: 20px, max: 24px */
      }
    }
  }
}
