:root {
  --aspectRatioMedia: 0;
}
.MediaSection {
  display: flex;
  align-items: flex-end;
  position: relative;

  aspect-ratio: var(--aspectRatioMedia);
  height: 100vh;
  width: 100%;
  @media (max-width: 500px) {
    min-height: 100vh;
  }
  .MediaSection_media {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    pointer-events: none;
  }

  .MediaSection_text {
    z-index: 2;
    padding-bottom: 40px;
    .MediaSection_text-subtitle {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 24px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #fff;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: clamp(0.875rem, calc(0.723rem + 0.647vw), 1.5rem); /* min: 14px, max: 24px */
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 24px;
      opacity: 0.5;
    }

    .MediaSection_text-title {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: clamp(1.75rem, calc(1.204rem + 2.33vw), 4rem); /* min: 28px, max: 64px */
      line-height: 120%;
      letter-spacing: -0.04em;
      color: #fff;
      width: min(1346px, 100%);
    }
  }
}
