.ParallaxFooter-preElement {
  width: 100%;
  z-index: 20;
  /* background-color: #fff; */
}

.ParallaxReveal {
  width: 100%;
  overflow: hidden;

  .ParallaxReveal-origin {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
}

.ParallaxFooter_element {
  position: relative;
  overflow: hidden;
  width: 100%;
  .ParallaxFooter_element-origin {
    position: absolute;
    z-index: 10;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .ParallaxFooter_element-fake {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }
}
