.PresentationFooter {
  position: fixed;
  bottom: 1rem;
  z-index: 9999;

  @media (width <= 1024px) {
    width: 100%;
    padding-inline: var(--px);
  }

  .PresentationFooter__list {
    display: flex;
    gap: 1rem;
    justify-content: center;
    list-style: none;
    padding: 1.25rem 1rem;
    border-radius: 100px;
    backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.5);

    @media (width <= 1024px) {
      justify-content: flex-start;
      overflow-x: auto;
      &::-webkit-scrollbar {
        height: 0;
      }
    }
  }

  .PresentationFooter__item {
    flex-shrink: 0;
  }

  .PresentationFooter__link {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 0.875rem;
    line-height: 90%;
    letter-spacing: -0.04em;
    color: #000;
    opacity: 0.5;
    transition: 0.3s ease-out;
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;

    &::before {
      content: '';
      width: 0;
      height: 0;
      border-radius: 100%;
      background: #000;
      transform: translateX(1.875rem);
      transition: 0.3s ease-out;
    }

    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }

    &.active {
      opacity: 1;

      &::before {
        width: 0.25rem;
        height: 0.25rem;
        transform: translateX(0);
      }
    }
  }

  @media print {
    display: none;
  }
}
