.VideoPlayer {
  width: 100%;
  height: 100%;
  position: relative;
  .VideoPlayer-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    object-position: 50% 10%;
  }
}
