.TeamBoostSection {
  .Tabs {
    /* margin-left: calc(-1 * var(--px)); */
    margin-bottom: clamp(2rem, calc(1.515rem + 2.071vw), 4rem); /* min: 32px, max: 64px */
    .Tabs-inner {
      box-shadow: 0 1px 1px 0 rgb(0, 0, 0, 0.1);
    }
    .swiper-wrapper {
      justify-content: space-between;

      &:active {
        cursor: grabbing;
      }

      .Tabs-item {
        white-space: nowrap;
        min-width: fit-content;
        user-select: none;
        position: relative;
        font-family: var(--font-family);
        font-weight: 500;
        cursor: pointer;
        font-size: clamp(0.875rem, calc(0.784rem + 0.388vw), 1.25rem);
        /* min: 14px, max: 20px */
        line-height: 120%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: rgb(0, 0, 0, 0.5);
        transition: color 0.3s ease-out;
        padding-bottom: clamp(1.188rem, calc(0.869rem + 1.359vw), 2.5rem);

        /* min: 19px, max: 40px */
        &.active {
          color: rgb(0, 0, 0, 1);

          &::before {
            display: block;
          }
        }

        &::before {
          content: '';
          display: none;
          position: absolute;
          background-color: rgb(0, 0, 0);
          height: 4px;
          width: 100%;
          top: calc(100% - 2px);
          transition: 0.3s ease;
          z-index: 9;

          @starting-style {
            background-color: rgb(0, 0, 0, 0);
          }
        }
      }
    }
  }
}

.Template {
  .Template_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 20px;
    @media (max-width: 960px) {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 1fr;
    }

    .Template-title {
      grid-column: span 3;
      font-family: var(--font-family);

      font-weight: 400;
      font-size: clamp(1.75rem, calc(1.204rem + 2.33vw), 4rem); /* min: 28px, max: 64px */
      line-height: 120%;
      letter-spacing: -0.04em;
      color: #000;

      margin-right: 50px;
    }

    .Template_tags {
      grid-column: span 2;
      height: fit-content;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      pointer-events: none;
      gap: clamp(0.25rem, calc(0.189rem + 0.259vw), 0.5rem); /* min: 4px, max: 8px */

      .Button {
        font-size: clamp(1.125rem, calc(0.696rem + 0.893vw), 1.5rem); /* min: 18px, max: 24px */
      }

      @media (max-width: 768px) {
        .Button {
          font-size: clamp(0.875rem, calc(0.636rem + 1.018vw), 1.125rem); /* min: 14px, max: 18px */
        }
      }
    }
  }
  .Template_footer {
    margin-top: clamp(3rem, calc(0.937rem + 8.803vw), 11.5rem);
    /* min: 48px, max: 184px */
    /* display: none; */
  }
}
