.Tabs {
  width: max(343px, 100%);
  .Tabs-inner {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0px clamp(1rem, calc(0rem + 2.083vw), 2.5rem);

    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 768px) {
    .Tabs-inner {
      padding: 0;
    }
  }
}
