.Idea {
  min-height: 100dvh;
  max-height: 100dvh;
  overflow: hidden;
  display: flex;

  &.empty {
    display: none;
  }

  &:has(.Idea__content-slides:not(.single)) {
    padding-inline: var(--px);
  }

  &:has(.Idea__content-slides.single) {
    @media (width <= 1024px) {
      padding-top: 124px;
      padding-inline: var(--px);
    }

    @media (width <= 540px) {
      padding-top: 64px;
    }
  }

  @media (width <= 1024px) {
    min-height: auto;
    margin-bottom: 16px;
  }

  .Idea__content {
    display: flex;
    gap: 20px;
    flex-grow: 1;

    &:has(.Idea__content-slides:not(.single)) {
      flex-direction: column;
      justify-content: center;

      .Idea__content-desc {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        @media (width <= 1024px) {
          grid-template-columns: 1fr;
        }

        p {
          grid-column: 3 span;

          @media (width <= 1024px) {
            grid-column: unset;
          }
        }
      }
    }

    &:has(.single) {
      flex-direction: row;
      align-items: flex-end;

      .Idea__content-desc {
        padding-left: 40px;
        padding-bottom: 40px;
        width: auto;
        flex-grow: 1;

        @media (width <= 1024px) {
          width: 100%;
          padding-left: 0;
          padding-bottom: 0;
        }
      }
    }

    .Idea__content-desc {
      display: grid;
      gap: 32px;

      p {
        font-family: var(--font-family);
        line-height: 136%;
        letter-spacing: -0.04em;
        color: #282828;
      }
    }

    @media (width <= 1024px) {
      flex-wrap: wrap;
      gap: 24px;
    }

    @media (width <= 540px) {
      flex-wrap: wrap;
      gap: 16px;
    }

    .Idea__content-slides {
      display: grid;
      &.double {
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;

        @media (width <= 1024px) {
          grid-template-columns: repeat(2, 1fr);
          gap: 8px;
        }

        img {
          aspect-ratio: 16/9;
          min-height: 600px;
          max-height: 600px;

          @media (width <= 1024px) {
            aspect-ratio: 1;
            min-height: auto;
            max-height: auto;
          }

          &:first-of-type {
            grid-column: 2 span;

            @media (width <= 1024px) {
              grid-column: unset;
            }
          }

          &:last-of-type {
            grid-column: 4 span;

            @media (width <= 1024px) {
              grid-column: unset;
            }
          }
        }
      }

      &.single {
        width: 59%;
        height: 100%;

        @media (width <= 1024px) {
          width: 100%;
        }
      }

      &.triple {
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;

        @media (width <= 1024px) {
          gap: 8px;
        }

        img {
          grid-column: 2 span;
          aspect-ratio: 1;

          @media (width <= 1024px) {
            aspect-ratio: 3/4;
          }
        }
      }

      img {
        object-position: top;
        cursor: pointer;
      }
    }
  }
}
