:root {
  --height: clamp(18.75rem, calc(3.875rem + 30.99vw), 41.063rem); /* min: 300px, max: 657px */
  --offset: 300px;
  --countProjects: 0;
  --sizeProject: calc(var(--height) + var(--offset));
  --accHeightTitle: 0;
  --indexProject: 0;
}

.ProjectsSection {
  width: 100%;

  --fontSizeTextRight: 18px;
  --heightImg: 617px;
  --gapHeadToImg: 12px;

  margin-top: clamp(3.75rem, calc(2.083rem + 3.472vw), 6.25rem); /* min: 60px, max: 100px */
  padding-top: clamp(4rem, calc(2.5rem + 3.125vw), 6.25rem); /* min: 64px, max: 100px */

  .ProjectsSection-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0 20px;

    width: 100%;
    justify-content: space-between;
    @media (max-width: 1226px) {
      grid-template-columns: 1fr 0.8fr 1fr 1fr 1fr;
    }
    margin-top: 24px;

    .ProjectsSection-container-titles {
      display: flex;
      flex-direction: column;
      grid-column: 1/3;

      .Project-title-animate {
        &:first-child {
          margin-top: 0;
        }
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp(4rem, calc(3.515rem + 2.071vw), 6rem);
        /* min: 64px, max: 96px */
        line-height: 120%;
        letter-spacing: -0.04em;
        color: #000;
        position: sticky;
        top: calc(var(--accHeightTitle) + var(--heightHeader));
        margin-top: calc(
          var(--fontSizeTextRight) * 1.2 + var(--heightImg) + var(--gapHeadToImg) + var(--offset) -
            var(--heightBefore)
        );
        height: var(--newHeight);
        z-index: 99;
        transition: opacity 0.25s ease-in, transform 1s ease-out;

        .Project-title-button {
          font-size: inherit;
          color: inherit;
          line-height: inherit;
          letter-spacing: inherit;
          margin: 0;
          font-weight: inherit;
          text-align: left;
          overflow: hidden;
        }

        /* &.isAllToBottom {
          opacity: 0;
          transform: translateY(150px);
        } */
      }
    }

    .ProjectsSection-container-items {
      grid-column: 3/6;
      display: flex;
      flex-direction: column;
      position: relative;
      min-height: min-content;
      gap: var(--offset);

      .Project {
        display: flex;
        flex-direction: column;
        cursor: pointer;

        .Project-title {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: clamp(2.75rem, calc(1.557rem + 5.089vw), 4rem);
          /* min: 44px, max: 64px */
          line-height: 120%;
          letter-spacing: -0.04em;
          color: #000;
          margin-bottom: 8px;
          display: none;
        }
        @media (hover: hover) {
          &:hover {
            .Project_img img {
              transform: scale(1.05);
            }
          }
        }

        .Project_container {
          display: flex;
          flex-direction: column;
          gap: var(--gapHeadToImg);

          .Project_header {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0 20px;

            .wrap-header-y-s {
              display: flex;
              grid-column: 3 / 4;
              flex-direction: row;
              justify-content: space-between;
            }

            span {
              font-family: var(--font-family);
              font-weight: 500;
              font-size: var(--fontSizeTextRight);
              letter-spacing: -0.02em;
              text-transform: uppercase;
              color: #000;
              line-height: 120%;

              &.header-year {
                margin-right: auto;
              }
              &.header-square {
                margin-left: auto;
              }
            }
          }

          .Project_img {
            width: 100%;
            height: fit-content;
            position: relative;
            overflow: hidden;
            display: flex;
            &.isHover img {
              transform: scale(1.05);
            }
            img {
              height: var(--heightImg);
              pointer-events: none;
              width: 100%;
              transition: transform 0.3s ease;
            }
          }
        }
      }
    }
  }

  .Projects_footer {
    display: flex;
    justify-content: space-between;
    .Button {
      font-size: clamp(2rem, calc(-0.667rem + 5.556vw), 6rem); /* min: 32px, max: 96px */
    }
    margin-top: clamp(2.75rem, calc(0.583rem + 4.514vw), 6rem); /* min: 44px, max: 96px */
    padding-bottom: clamp(4rem, calc(2.5rem + 3.125vw), 6.25rem); /* min: 64px, max: 100px */
  }
}

@media (max-width: 1000px) {
  .ProjectsSection {
    --fontSizeTextRight: clamp(
      0.75rem,
      calc(0.392rem + 1.527vw),
      1.125rem
    ); /* min: 12px, max: 18px */
    --heightImg: clamp(
      12.625rem,
      calc(-0.018rem + 53.944vw),
      25.875rem
    ); /* min: 202px, max: 414px */

    grid-template-columns: 1fr;
    &,
    .ProjectsSection-container,
    .ProjectsSection-container-items {
      height: unset;
    }

    .ProjectsSection-container {
      margin-top: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem); /* min: 16px, max: 24px */
      .ProjectsSection-container-titles {
        display: none;
      }
      .ProjectsSection-container-items {
        grid-column: 1/6 !important;
        gap: clamp(2.5rem, calc(1.069rem + 6.107vw), 4rem); /* min: 40px, max: 64px */

        .Project {
          width: 100%;
          gap: 8px;
          .Project-title {
            display: flex;
            height: fit-content;
            margin: 0;
            position: static;
            font-size: clamp(2.75rem, calc(1.557rem + 5.089vw), 4rem); /* min: 44px, max: 64px */
          }

          .Project_container {
            gap: 8px;

            .Project_header {
              display: flex;
              flex-direction: row;
              gap: 8px;
              order: 2;
              justify-content: space-between;

              .wrap-header-y-s {
                display: flex;
                flex-direction: row;
                grid-column: auto;
              }

              span {
                opacity: 0.5;

                &.header-year {
                  margin: unset !important;
                }

                &.header-square {
                  display: none;
                }
              }
            }

            .Project_img {
              img {
              }
            }
          }
        }
      }
    }

    .Projects_footer {
      .Button {
        font-size: clamp(1.5rem, calc(1.023rem + 2.036vw), 2rem); /* min: 24px, max: 32px */
      }
      margin-top: 44px;
      padding-bottom: clamp(2.75rem, calc(1.557rem + 5.089vw), 4rem); /* min: 44px, max: 64px */
    }
  }
}

@media (max-width: 540px) {
  .ProjectsSection {
    .ProjectsSection-container {
      .ProjectsSection-container-items {
        .Project {
          .Project-title {
            line-height: 110%;
          }
        }
      }
    }
  }
}
