.ErrorNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--HeaderHeight);

  margin-bottom: clamp(4rem, calc(2.667rem + 2.778vw), 6rem);
  /* min: 64px, max: 96px */
  /* viewPort: 768-1920 */
  margin-bottom: 200px;
  @media (max-width: 768px) {
    margin-bottom: clamp(20.563rem, calc(15.314rem + 22.392vw), 26.063rem);
    /* min: 329px, max: 417px */
    /* viewPort: 375-768 */
  }

  .ErrorNotFound-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(12.5rem, calc(6.5rem + 12.5vw), 21.5rem);
    /* min: 200px, max: 344px */
    /* viewPort: 768-1920 */
    @media (max-width: 768px) {
      font-size: clamp(7.75rem, calc(3.218rem + 19.338vw), 12.5rem);
      /* min: 124px, max: 200px */
      /* viewPort: 375-768 */
    }
    line-height: 110%;
    letter-spacing: -0.06em;
    color: #000;
  }
  .ErrorNotFound-desc {
    font-family: var(--font-family);
    font-weight: 400;

    line-height: 120%;
    letter-spacing: -0.04em;
    text-align: center;
    color: #000;
    margin-top: clamp(2.75rem, calc(1.917rem + 1.736vw), 4rem); 
    /* min: 44px, max: 64px */
    /* viewPort: 768-1920 */

    margin-bottom: clamp(4rem, calc(2.667rem + 2.778vw), 6rem); 
    /* min: 64px, max: 96px */
    /* viewPort: 768-1920 */;

    font-size: clamp(2.25rem, calc(1.75rem + 1.042vw), 3rem);
    /* min: 36px, max: 48px */
    /* viewPort: 768-1920 */

    max-width: clamp(33.25rem, calc(24.417rem + 18.403vw), 46.5rem);
    /* min: 532px, max: 744px */
    /* viewPort: 768-1920 */

    @media (max-width: 768px) {
      max-width: clamp(22.438rem, calc(-1.954rem + 104.071vw), 48rem);
      /* min: 359px, max: 768px */
      /* viewPort: 375-768 */

      font-size: clamp(1.563rem, calc(0.906rem + 2.799vw), 2.25rem);
      /* min: 25px, max: 36px */
      /* viewPort: 375-768 */

      margin-top: clamp(2rem, calc(1.284rem + 3.053vw), 2.75rem); 
      /* min: 32px, max: 44px */
      /* viewPort: 375-768 */
    }
  }
}
