.Subtitle {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(1.25rem, calc(1.083rem + 0.347vw), 1.5rem); /* min: 20px, max: 24px */

  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000;
  opacity: 0.4;

  @media(max-width: 768px) {
    font-size: clamp(0.875rem, calc(0.517rem + 1.527vw), 1.25rem); /* min: 14px, max: 20px */;
  }
}
