.ServiceCategoryPage {
  .InfoList {
    grid-template-columns: repeat(5, 1fr);
    .InfoList-title {
      grid-column: 1/1;
      grid-column: 1/1;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: clamp(1.25rem, calc(1.083rem + 0.347vw), 1.5rem);
      /* min: 20px, max: 24px */
      /* viewPort: 768-1920 */
      letter-spacing: -0.02em;

      color: #000;

      @media (max-width: 768px) {
        font-size: clamp(0.875rem, calc(0.517rem + 1.527vw), 1.25rem);
        /* min: 14px, max: 20px */
        /* viewPort: 375-768 */
      }
    }
    .InfoList-container {
      grid-column: 3/6;
    }
  }

  .ServiceCategoryPage-img {
    height: 95.926vh;
    width: 100%;
    margin: clamp(4rem, calc(2.667rem + 2.778vw), 6rem) 0;
    /* min: 64px, max: 96px */ /* viewPort: 768-1920 */
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 768px) {
      height: 39.258vh;
    }
    @media (max-width: 500px) {
      height: 24.138vh;
    }
  }

  &:not(&.with-img) {
    .ServiceCategoryPage_info {
      margin-top: clamp(7.75rem, calc(4.583rem + 6.597vw), 12.5rem);
      /* min: 124px, max: 200px */
      /* viewPort: 768-1920 */
      @media (max-width: 768px) {
        margin-top: clamp(6rem, calc(4.833rem + 2.431vw), 7.75rem);
        /* min: 96px, max: 124px */
        /* viewPort: 768-1920 */
      }
    }
  }
  .ServiceCategoryPage_info {
    display: grid;
    margin-bottom: clamp(7.75rem, calc(4.583rem + 6.597vw), 12.5rem);
    /* min: 124px, max: 200px */ /* viewPort: 768-1920 */
    @media (max-width: 768px) {
      margin-bottom: clamp(6rem, calc(4.33rem + 7.125vw), 7.75rem);
      /* min: 96px, max: 124px */ /* viewPort: 375-768 */
    }

    grid-template-columns: repeat(5, 1fr);
    .ServiceCategoryPage_info-block {
      grid-column: 3/6;

      .Subtitle {
        font-size: clamp(1rem, calc(0.917rem + 0.174vw), 1.125rem);
        /* min: 16px, max: 18px */
        /* viewPort: 768-1920 */
        margin-bottom: clamp(1rem, calc(0.667rem + 0.694vw), 1.5rem);
        /* min: 16px, max: 24px */
        /* viewPort: 768-1920 */
      }

      .ButtonArrow.ItemService_btn {
        padding: 0;
        --offset: clamp(0.25rem, calc(0.083rem + 0.347vw), 0.5rem);
        /* min: 4px, max: 8px */
        /* viewPort: 768-1920 */
        gap: clamp(0.5rem, calc(0.023rem + 2.036vw), 1rem);
        /* min: 8px, max: 16px */
        /* viewPort: 375-768 */

        & > .ButtonArrow-icon {
          --size: clamp(1.5rem, calc(0.307rem + 5.089vw), 2.75rem);
          /* min: 24px, max: 44px */
          /* viewPort: 375-768 */
          width: var(--size);
          height: var(--size);
          margin-top: calc(var(--offset) / 2) !important;
        }
        .Button {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: clamp(2rem, calc(1.333rem + 1.389vw), 3rem);
          padding-bottom: var(--offset);
          /* min: 32px, max: 48px */
          /* viewPort: 768-1920 */
          line-height: 120%;
          letter-spacing: -0.04em;
          text-align: center;
          color: #000;
          @media (max-width: 768px) {
            font-size: clamp(1.5rem, calc(1.023rem + 2.036vw), 2rem);
            /* min: 24px, max: 32px */
            /* viewPort: 375-768 */
          }
        }
      }
    }
  }
}
