.InteractiveExhibit {
  .ContactForm {
    margin-top: clamp(7.75rem, calc(4.583rem + 6.597vw), 12.5rem);

    /* min: 124px, max: 200px */
    /* viewPort: 768-1920 */
    @media (max-width: 768px) {
      margin-top: clamp(6rem, calc(4.33rem + 7.125vw), 7.75rem);
      /* min: 96px, max: 124px */
      /* viewPort: 375-768 */
    }
  }

  .TitlePage {
    margin-bottom: clamp(1.5rem, calc(0.667rem + 1.736vw), 2.75rem); 
    /* min: 24px, max: 44px */ /* viewPort: 768-1920 */
    @media (max-width: 768px) {
      margin-bottom: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem); 
      /* min: 16px, max: 24px */ /* viewPort: 375-768 */
    }
  }
  .InteractiveExhibit-desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(1.5rem, calc(1.167rem + 0.694vw), 2rem);
    /* min: 24px, max: 32px */ /* viewPort: 768-1920 */
    line-height: 136%;
    letter-spacing: -0.06em;
    color: #000;
    margin-bottom: clamp(4rem, calc(2.667rem + 2.778vw), 6rem);
    /* min: 64px, max: 96px */
    /* viewPort: 768-1920 */

    @media (max-width: 768px) {
      font-size: clamp(1.125rem, calc(0.767rem + 1.527vw), 1.5rem);
      /* min: 18px, max: 24px */
      /* viewPort: 375-768 */
      margin-bottom: clamp(1.5rem, calc(-0.885rem + 10.178vw), 4rem);
      /* min: 24px, max: 64px */
      /* viewPort: 375-768 */
    }
  }

  .InteractiveExhibit-img {
    height: 95.926vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 768px) {
      height: 40.43vh;
    }
    @media (max-width: 500px) {
      height: 24.138vh;
    }
  }
}
