.Content {
  height: 100dvh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;

  @media (width <= 1024px) {
    height: auto;
    padding-block: 124px;
  }

  @media (width <= 540px) {
    padding-block: 64px;
  }

  .Content__wrapper {
    grid-column: span 4 / span 4;
    grid-column-start: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .Content__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 96px;
    line-height: 90%;
    letter-spacing: -0.07em;
    text-align: center;

    @media (width <= 1024px) {
      font-size: 48px;
    }

    @media (width <= 540px) {
      font-size: 32px;
    }
  }

  .Content__txt {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 136%;
    letter-spacing: -0.04em;
    grid-column: span 4 / span 4;

    @media (width <= 1024px) {
      font-size: 16px;
    }
  }
}
